@import "../../../../styles/colors";

.tabMenu {
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: $theme-dark;
  }
}

// 현재 경로에 해당할 때
.tabFocused {
  border-bottom: 3px solid $theme-dark;
}
