.tabWrapper {
  position: relative;
}

.tabMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  min-width: 100px;

  cursor: pointer;
}

// 현재 경로에 해당할 때
.tabFocused {
  border-bottom: 3px solid var(--theme-dark);
}

.dropdown {
  border-radius: 8px;

  position: absolute;
  top: 100%;
  left: 0;

  background-color: var(--fg);
  display: none;
  font-size: 14px;
  border-radius: 5px;

  &Hidden {
    display: none;
  }

  &Show {
    display: block;
  }
}

.dropdownItem {
  text-decoration: none;
  display: block;
  width: 100px;

  text-align: center;

  background-color: var(--fg);
  overflow: hidden;

  &:hover {
    background-color: rgba(30, 162, 181, 0.2);
  }
  &:active {
    background-color: rgba(25, 140, 160, 0.2);
    scale: 0.9;
  }
}
