.main {
  // width: auto;
  display: flex;
  flex-direction: column;
  padding: 50px 0;
  gap: 100px;
}

.title {
  font-size: 24px;
}

.userInfo {
  display: flex;
  width: 1050px;
  height: 350px;
  gap: 30px;
}

.userLog {
  flex: 2;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;

  position: relative;

  & > h3 {
    position: absolute;
    top: -40px;
    left: 0;
  }
}
