@import "../../../../styles/components";

.form {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.formGroupContainer {
  display: flex;
  gap: 20px;
  padding: 10px;

  background-color: var(--fg);
  border: 1px solid var(--reverse-fg);
}

.groupSection {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__reverseBg {
    background-color: white;
  }
}

.imageBtn {
  display: flex;
}

.labelContent {
  display: flex;
  align-items: center;
}

.icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
}

.labelContent strong {
  font-size: 1rem;
}

.labelContent p {
  margin: 0;
  color: gray;
  font-size: 0.875rem;
}

.cancelSaveSection {
  display: flex;
  gap: 20px;
}
