@import "../../styles/components";

.container {
  @include container;
  flex-direction: row;
}

.left {
  flex: 2; // 40%
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  flex: 3; // 60%
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 120px;

  & h1 {
    font-weight: bold;
    font-size: 96px;
    margin: 48px 0;
  }
  & h2 {
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 32px;
  }
  & p {
    font-weight: bold;
    font-size: 24px;
  }
}

.rightFooter {
  display: flex;
  flex-direction: column;
  gap: 60px;

  & div {
    display: flex;
    align-items: center;
    gap: 40px;

    & a {
      min-width: 200px;
      height: 40px;
    }
  }
}
