.list {
  width: 1000px;
  height: 120px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--fg);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 효과 */
  transition: box-shadow 0.3s ease; /* hover 시 자연스러운 전환 */

  display: flex;
  gap: 20px;

  position: relative;
  overflow: hidden;

  &:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.2); /* hover 시 더 강조된 그림자 */
  }
}

.accessLabel {
  display: flex;
  justify-content: center;
  align-items: center;

  & > svg {
    width: 36px;
    height: 36px;
  }

  position: absolute;
  top: 0;
  right: 0;

  width: 60px;
  height: 60px;
  border-top-right-radius: 8px;

  &_public {
    background-color: var(--theme-dark);
  }
  &_private {
    background-color: var(--warning);
  }
}

.description {
  font-size: 14px;
  opacity: 0.5;
}
