.historyContainer {
  width: 360px;
  height: calc(100dvh - 80px);
  overflow: auto;
  background-color: var(--fg);
  padding: 40px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.historyHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
