.listWrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;

  & > li {
    all: unset;
    display: flex;
    padding: 10px;
    cursor: pointer;
    transition: scale 0.2s ease;

    &:hover {
      background-color: rgba(30, 162, 181, 0.2);
    }

    &:active {
      scale: 0.8;
    }
  }
}

.listIndex {
  flex: 1;
}

.listQuestion {
  flex: 8;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
