@import "../../../../styles/colors";

.listContainer {
  width: 360px;
  height: calc(100dvh - 80px);
  overflow: auto;
  background-color: #fff;
  padding: 40px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  font-size: 16px;

  & > li {
    & :first-child {
      display: inline-block;
      margin-right: 10px;
    }

    opacity: 0.5;

    white-space: nowrap; /* 텍스트를 한 줄로 유지 */
    overflow: hidden; /* 넘친 부분을 숨김 */
    text-overflow: ellipsis; /* ...으로 말줄임 표시 */
  }
}

.activeQuiz {
  color: blue;
  opacity: 1 !important;
}

.progressContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > span {
    opacity: 0.5;
  }

  & > progress {
    width: 80%;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    appearance: none;

    &::-webkit-progress-bar {
      background: #f0f0f0;
      border: 1px solid #eee;
      overflow: hidden;
    }

    &::-webkit-progress-value {
      background: $success;
    }
  }
}
