@import "../../styles/colors";

.button {
  border: 1px solid $theme-dark;
  background-color: $theme-dark;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  flex: 1;
  width: 180px;
  height: 45px;

  &:hover {
    opacity: 0.7;
  }
}
