@import "../../styles/components";

.link {
  @include Link;
}

.contained {
  color: white;

  &_base {
    background-color: var(--theme-base);
    border: 1px solid var(--theme-base);
  }
  &_green {
    background-color: var(--success);
    border: 1px solid var(--success);
  }
  &_red {
    background-color: var(--danger);
    border: 1px solid var(--danger);
  }
}

.variant {
  color: black;

  &_base {
    background-color: var(--theme-base);
    border: 1px solid var(--theme-base);
  }
  &_green {
    background-color: var(--success);
    border: 1px solid var(--success);
  }
  &_red {
    background-color: var(--danger);
    border: 1px solid var(--danger);
  }
}
