@import "../../../../../../styles/components";

.container {
  @include container;
  background-color: var(--bg);
}

.solveWrapper {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
