/* 최외각 wrapper */
@mixin container {
  display: flex;
  background-color: $bg;
  width: 100dvw;
  height: 100dvh;
}

@mixin baseLink {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $theme-light;
  color: black;
  border: 1px solid #eee;

  &:hover {
    opacity: 0.7;
  }
}
