/* 모달 배경 */
@mixin modalBackground {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  backdrop-filter: blur(2px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* 모달 */
@mixin modal {
  background-color: var(--fg);
  position: relative;
  top: 5%;
  min-width: 600px;
  border-radius: 16px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
}
