.container {
  background-color: var(--fg);
  border-radius: 20px;
  width: 1050px;
  min-height: 120px;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  position: relative;

  & > h3 {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 20px;
  }
}
