@import "../../../styles/modal";
@import "../../../styles/colors";
@import "../../../styles/components";

.modalBackground {
  @include modalBackground;
}

@media (prefers-color-scheme: dark) {
  .modalBackground {
    background-color: rgba(91, 112, 131, 0.4);
  }
}

.modal {
  @include modal;
}

.modalHeader {
  padding: 36px 80px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  & h1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
  }
}

.logo {
  width: 36px;
  height: 36px;
}

.modalBody {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 20px;

  & > button {
    outline: none;

    @include button($warning, #fff, $warning);
  }

  & > a {
    @include button(#000, $ok, #fff);
  }
}

.closeButton {
  width: 34px;
  height: 34px;
  border-radius: 17px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  position: absolute;
  left: 16px;
  top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.closeButton:hover {
  background-color: rgba(15, 20, 25, 0.1);
}
@media (prefers-color-scheme: dark) {
  .closeButton {
    background-color: black;
  }
  .closeButton svg {
    fill: white;
  }
}
