@import "../../../styles/colors";

.wrapper {
  position: relative;
}

.title {
  position: absolute;
  top: -40px;
  left: 0;
}

.label {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #fff;
  cursor: pointer;
}

.icon {
  &__adjust {
    width: 36px;
    height: 36px;
    flex: 1;
  }
  &__down {
    width: 36px;
    height: 36px;
    flex: 1;
  }
}

.openSelect {
  flex: 8;
  font-size: 24px;
  opacity: 0.5;

  &:hover {
    opacity: 0.3;
  }
}

.dropdown {
  display: flex;
  background-color: white;
}

.listItem {
  list-style: none;
}
