@import "../../../../styles/colors";

.dashboard {
  flex: 2;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 20px;

  position: relative;

  & > h3 {
    position: absolute;
    top: -40px;
    left: 0;
  }
}

.board {
  & tr {
    border: 1px solid rgba(0, 0, 0, 0.2);

    & td {
      width: 30px;
      height: 30px;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
  }
}

.boardColored {
  background-color: $theme-base;
}
