.button {
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: "Noto Sans Korean";

  &:hover {
    opacity: 0.7;
  }
}

.base {
  background-color: var(--theme-dark);
  border: 1px solid var(--theme-dark);
  color: var(--fg);
}

.red {
  background-color: var(--warning);
  border: 1px solid var(--warning);
  color: var(--fg);
}

.green {
  background-color: var(--success);
  border: 1px solid var(--success);
  color: var(--fg);
}
