@import "../../../../styles/colors";

.collections {
  background-color: #fff;
  border-radius: 20px;
  width: 100%;
  min-height: 120px;
  padding: 30px;

  position: relative;

  & > section {
    position: absolute;
    top: -40px;
    left: 0;
  }
}

.tabFocused {
  border-bottom: 5px solid $theme-dark;
}

.createCollectionBtn {
  position: absolute;
  top: -50px;
  right: 0;
  background-color: $ok;
  border: 1px solid $layout;
  border-radius: 20px;
  font-size: 20px;
  padding: 5px 20px;
}

.collection {
  height: 120px;
  border-bottom: 1px solid $layout;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > div:first-child {
    display: flex;
    align-items: center;
  }
}

.collectionInfo {
  gap: 10px;
}

.collectionAccess {
  display: inline-block;
  padding: 0 12px;
  border: 1px solid $layout;
  border-radius: 15px;
}

.rightIcon {
  width: 36px;
  height: 36px;
}
