.dashboard {
  flex: 2;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 20px;

  position: relative;

  & > h3 {
    position: absolute;
    top: -40px;
    left: 0;
  }
}

.info {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  color: #666;
}

.board {
  & tr {
    border: 1px solid rgba(0, 0, 0, 0.2);

    & td {
      width: 30px;
      height: 30px;
      border: 1px solid rgba(0, 0, 0, 0.2);

      &:hover {
        border: 2px solid var(--ok);
        opacity: 0.7;
      }
    }
  }
}

// 잔디밭 3단계 색
.boardNone {
  background-color: transparent;
}

.boardLight {
  background-color: var(--theme-light);
}

.boardBase {
  background-color: var(--theme-base);
}

.boardDark {
  background-color: var(--theme-dark);
}

.day {
  position: absolute;
  left: 0;
  font-weight: bold;
  text-align: center;
  padding-right: 10px;
}
