.searchWall {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #dcd6ff 0%, #b4e9fd 100%);
  width: 100%;
  height: 300px;
}

.searchZone {
  border-style: none;

  & > legend {
    line-height: 40px;
    font-size: 20px;
  }
}

.searchInput {
  width: 1000px;
  height: 80px;
  font-size: 24px;

  position: relative;
}

.searchIcon {
  position: absolute;

  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}

.resultWall {
  width: 100%;
  padding: 55px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentsHeader {
  width: 85%;
  border-bottom: 1px solid #7b7b7b;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.headerSection {
  display: flex;
  gap: 10px;

  & > svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
}
