.main {
  display: grid;
  grid-auto-rows: auto;

  gap: 30px;

  &_card {
    grid-template-columns: repeat(3, 1fr);
  }
  &_list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.cardTitle {
  font-size: 24px;
}

.cardBtn {
  max-height: 60px;
  max-width: 200px;
  font-size: 24px;

  &_card {
    margin: 0 auto;
  }
  &_list {
    position: absolute;

    top: 33%;
    right: 16%;
  }
}
