@import "../../../../styles/components";

.form {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.cancelSaveSection {
  display: flex;
  justify-content: flex-end;
  gap: 20px;

  & > a {
    &:first-child {
      @include button(var(--warning), #fff, var(--warning));
    }
    &:last-child {
      @include button(var(--success), #fff, var(--success));
    }
  }
}
