.main {
  display: grid;
  grid-auto-rows: auto;

  gap: 30px;
  padding-bottom: 50px;

  &_card {
    grid-template-columns: repeat(4, 1fr);
  }
  &_list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.card:hover,
.list:hover {
  & > .cardContent,
  & > .listContent {
    opacity: 0;
  }

  & > .cardInfo,
  & > .listInfo {
    opacity: 1;
  }
}

.cardImageWrapper {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 8px 8px 0 0;

  & > img {
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }

  &:hover img {
    opacity: 1;
  }
}

.listImageWrapper {
  position: relative;
  height: 100%;
  width: 120px;
  overflow: hidden;
  border-radius: 8px 0 0 8px;

  & > img {
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }

  &:hover img {
    opacity: 1;
  }
}

.cardInfo,
.listInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
  opacity: 0; /* 초기 숨김 */
  pointer-events: none;
}
