.form {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.infoColl {
  display: flex;
  // flex-direction: column;
  align-items: center;
  gap: 20px;
}

.imagePreview {
  width: 80px;
  height: 80px;
  border: 2px solid #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  & > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  & > span {
    font-size: 16px;
    color: #ccc;
  }
}

.initImg {
  display: none;
}

.attachImg {
  display: block;
}

.titleInput {
  width: 500px;
  background-color: #d9d9d9;
  line-height: 40px;
  font-size: 20px;
  border: none;
}

.description {
  width: 100%;
  height: 115px;
  background-color: #d9d9d9;
  font-size: 20px;
}

.accessZone {
  display: flex;
  flex-direction: column;
}

.accessItem {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.radioButton {
  margin-right: 10px;
}

.labelContent {
  display: flex;
  align-items: center;
}

.icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;
}

.labelContent strong {
  font-size: 1rem;
}

.labelContent p {
  margin: 0;
  color: gray;
  font-size: 0.875rem;
}
