.quizWrapper {
  display: flex;
  justify-content: space-between;

  padding: 10px 60px 10px 10px;

  position: relative;
}

.dropdown {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.quizSection {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 10px 0;

  & > h6 {
    font-size: 20px;
  }

  & > progress {
    width: 150px;
    height: 10px;
    border-radius: 4px;
    overflow: hidden;
    appearance: none;

    &::-webkit-progress-bar {
      overflow: hidden;
    }

    &::-webkit-progress-value {
      background: var(--success);
    }
  }

  & > p {
    font-size: 20px;
  }

  &__info {
    overflow: hidden;
  }

  &__progress {
    min-width: 200px;
    justify-content: flex-start;
  }
}

.quizQuestion {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
