.quizWrapper {
  display: flex;
  justify-content: space-between;

  padding: 10px 60px 10px 10px;

  position: relative;
}

.dropdown {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.quizAccess {
  & > div {
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 20px;
  }
  & > .publicLabel {
    background-color: var(--theme-dark);
  }
  & > .privateLabel {
    background-color: var(--warning);
  }
}

.quizSection {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 6px;
  margin: 10px 0;

  & > progress {
    width: 150px;
    height: 10px;
    border-radius: 4px;
    overflow: hidden;
    appearance: none;

    &::-webkit-progress-bar {
      overflow: hidden;
    }

    &::-webkit-progress-value {
      background: var(--success);
    }
  }
}
