.infoWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;

  position: relative;
}

.infoEditBtn {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.collectionAccess {
  & > div {
    display: flex;
    align-items: center;
    gap: 5px;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 20px;
  }
  & > .publicLabel {
    background-color: var(--theme-dark);
  }
  & > .privateLabel {
    background-color: var(--warning);
  }
}

.createNewBtn {
  position: absolute;
  top: -50px;
  right: 0;
}
