.container {
  position: relative;
  display: inline-block;
  cursor: pointer;

  // 히트박스 크기
  & > *:first-child {
    width: 100%;
    height: 100%;
  }

  &__disabled {
    cursor: not-allowed !important;
  }
}

.hiddenButton {
  all: unset;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
  pointer-events: none; // 클릭 불가 설정
}
