.dropdown {
  position: relative; // menu의 기준
}

.item {
  cursor: pointer;
  padding: 10px;
  display: block;
  text-align: center;
  list-style: none;

  &__alert {
    color: var(--warning);
  }
}
